@{
    ViewBag.Title = "- Contact";
}
<main>
    <div class="container padding-space">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultrices scelerisque erat sit amet varius.
            Cras laoreet convallis augue, non vulputate velit cursus sed. Sed aliquet eget ex nec consequat.
            Vivamus et nisi ut ipsum ultricies semper. Quisque imperdiet eros vitae metus ultrices malesuada.
            Nam luctus auctor nulla, in finibus ex finibus vel. Nulla vel tristique odio, a aliquet erat.
            Cras viverra elit nisi, sed porta risus feugiat a. In tortor purus, sodales eget ligula vel, imperdiet dignissim ligula.
            Curabitur aliquet justo a ex blandit, vestibulum cursus nibh sodales. Donec rutrum auctor tortor a varius. Vestibulum at lacinia sem.
            Vestibulum quis dui felis. Vivamus tincidunt ullamcorper interdum. In rhoncus elit in efficitur condimentum. Aliquam molestie molestie auctor.
        </p>

        <p>
            Fusce non massa quis tortor cursus pulvinar. Praesent ultrices mi leo, a molestie dui feugiat id. Sed sed laoreet elit.
            In tristique urna eu metus scelerisque porta. Mauris eget aliquam lectus, ac ultricies turpis. Sed eu erat tempus, posuere dolor sed, convallis neque.
            Curabitur finibus massa et diam auctor congue.
        </p>

        <p>
            Morbi condimentum sodales neque, at pellentesque eros laoreet eget. Curabitur et nunc consequat, mattis sapien sed, sollicitudin magna.
            Suspendisse interdum dui nec fringilla pulvinar. Sed et mi tempus, tempus risus eu, cursus urna. Aliquam pulvinar fringilla pellentesque.
            Donec tempor mauris eu diam scelerisque convallis. Quisque id tellus odio. Sed auctor magna vel commodo mattis.
            Mauris maximus sapien non nulla fermentum, iaculis ultrices nisi lobortis.
        </p>
    </div>
</main>